{% extends 'eve.twig' %}

{% block title %}404 - Not Found{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/public/css/404.css">
{% endblock %}

{% block body %}
    <div class="site">
        <h1>404:<small>Page Not Found</small><small class="smaller"><a href="/">Go back</a></small></h1>
        <img src="/public/img/xua-logo.jpg" class="xua-image">
    </div>
{% endblock %}