<!doctype html>
<html lang="{% block lang %}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="{% block author %}{% endblock %}">
        {% block styles %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
    </body>
</html>