{% import "macros.twig" as macros %}

<p style="text-align:center;">
    <img style="width: 50px;" src="{{ macros.constant('URL') }}/public/img/logo.png" alt="مزرعه من">
</p>
<p style="direction: rtl;">
    به مرزعه من خوش آمدید، برای تأیید حساب کاربری خود از کد زیر استفاده کنید.
</p>

<h1 style="text-align:center;">{{ verificationCode }}</h1>